 <div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invoice Pool Details</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
            <form name="userForm" id="userForm" novalidate>
                <div class="row-sm">
                    <input id="name" value="{{invoiceDtls.smeCtpy}}" name="smeCtpy" type="text" placeholder="Enter contact name" size="35" required/>    
                </div>
            </form>
        </table>
      </div>
      <div align="center">
        <button type="button" ng-click="cancel()" class="btn btn-primary">Close</button>
      </div>
    </div> 
  </div>
</div>

